* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "poppins", sans-serif;
}

header {
    background-color: #be3144;
    border-bottom: 2px solid black;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 20px;
}

li a:link {
    display: inline-block;
    padding: 1.5rem;
    color: wheat;
}

li a:visited {
    color: antiquewhite;
}

li a:focus {
    outline: 3px solid black;
}

li a:hover {
    background-color: blue;
}

li a:active {
    background-color: cadetblue;
}

#intro {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    font-size: 4.2rem;
}

p {
    color: red;
    font-size: 2rem;
}

#projects {
    background-color: #45567d;
}

#projects h2 {
    text-align: center;
    padding-top: 1.5rem;
    text-decoration: underline;
}

#project_pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 3rem;
    padding-bottom: 3rem;
}

img {
    width: 100%;
    height: 50vh;
}

.tag {
    color: orange;
    display: none;
}

.container p {
    color: white;
    font-size: 20px;
    background-color: #293045;
    height: 8vh;
    margin-top: -4px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

div.container:hover .tag {
    display: inline;
}

.btn {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    background-color: #293045;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    color: white;
}

.btn:hover {
    background-color: #be3144;
    transition: 400ms ease;
}